<article class="row d-block w-100 mt-3 post-preview">
  <h4 class="post-title">
    <a href="/post/{{ id }}">{{ title }}</a>
  </h4>
  <p class="meta mb-2 w-100">Posted by {{ user.username }} on {{ format_date created_at }} ({{ comments.length }} {{ format_plural "comment" comments.length }})</p>
  <p class="post-text mt-0 mb-2">{{ content }}</p>
</article>