<div class="col-auto">
  <article class="row d-block post-preview">
    <h3 class="post-title w-100">
      <a href="/post/{{ post.id }}">{{ post.title }}</a>
    </h3>
    <p class="post-text">{{ post.content }}</p>
    <p class="meta">Posted by {{ post.user.username }} on {{ post.created_at }}</p>
  </article>

<hr>

<div class="row comments">
  <div class="col-3">
    <h5>Comments</h5>
  </div>
  <div class="col-9">
    {{#each post.comments}}
    <section class="row d-block mb-3 comment">
      <div class="comment-text">
        {{ comment_text }}
      </div>
      <div class="meta">
        by {{ user.username }} on {{ created_at }}
      </div>
    </section>
    {{/each}}
    <form class="row d-block comment-form">
      <div>
        <textarea class="w-100 mt-3" name="comment-body" placeholder="Your comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Add Comment</button>
    </form>
  </div>
</div>


</div>
<script src="/js/comment.js"></script>