<article class="row post">
  <div class="card border-primary mb-3">
    <div class="card-header">
      <div class="flex-row justify-space-between">
        <div class="col-12 col-sm-7 post-title">
          <h4 class="card-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
        </div>
        <div class="col-12 col-sm-5 meta">
          Posted by {{ post.user.username }} on {{ post.created_at }}
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.content }}</p>
    </div> 
  </div>
</article>